/* GENERAL */
:root {
    --continer_color: #fff;
    --primary-color: rgb(39, 44, 125);
}

html {
    scroll-behavior: smooth;
}

*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* GENERAL */

/* PRELOADER */
#clackers {
    /*   border: 1px solid white; */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

circle:nth-of-type(1) {
    fill: #ffffff;
}

circle:nth-of-type(2) {
    fill: #fcd837;
}

circle:nth-of-type(3) {
    fill: #f9a11f;
}

circle:nth-of-type(4) {
    fill: #f27c21;
}

/* PRELOADER */

/* NAVBAR */
#navbar {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
}

.navbar {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.brand img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.brand h3 {
    cursor: pointer;
    color: var(--continer_color);
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--continer_color);
}

.styleLink {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}

.humberger {
    color: #fff;
    font-size: 24px;
    display: none;
    cursor: pointer;
}
/* NAVBAR */

/* HERO SECTION */
.continer {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* hero Style */
#hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(assets/img/hacker.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.content-hero h3 {
    line-height: 0.9px;
    font-size: 1.9rem;
    text-align: center;
    color: var(--continer_color);
}

.content-hero h1 {
    font-size: 5rem;
    text-align: center;
    color: #fff;
}

.content-hero p {
    line-height: 0.9px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
}
/* HERO SECTION */

/* WAVE */

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 0;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
}

.bgMiddle {
    z-index: 10;
    /* opacity: 0.75; */
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
/* WAVE */

/* ABOUT */
#about {
    width: 100%;
    height: 70vh;
    background-color: var(--continer_color);
    display: flex;
    justify-content: center;
    /* position: relative; */
}

.continer-about {
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-about {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.content-about h1 {
    font-size: 2.3rem;
    text-align: center;
    padding: 40px 0 0 0;
}

.about-desk .image {
    margin: 30px 0 30px 0;
    border-radius: 5px;
    width: 250px;
    height: 250px;
    transition: all .4s;
}

.about-desk img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.about-desk .image:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 9px rgb(59, 59, 59);
}

.about-desk {
    display: flex;
    justify-content: center;
}

.about-desk p {
    padding: 30px 0 0 40px;
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 100;
}
/* ABOUT */

/* VISI MISI */
#visi-misi {
    margin-top: 50px;
    width: 100%;
    height: 80vh;
    background-color: var(--continer-color);
    display: flex;
    justify-content: center;
    display: none;
}

.continer-vm {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-vm {
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.head-vm h2 {
    font-size: 32px;
    /* margin-bottom: 5px; */
}

.head-vm p {
    font-size: 16px;
}

.card-vm {
    display: flex;
    justify-content: space-around;
}

.vm-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: var(--continer-color);
    width: 45%;
    height: 350px;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75);
}

.icon-vm-continer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vm-icon {
    font-size: 35px;
    color: #fff;
}

.vm-content {
    padding: 25px;
}

.continer-vm {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-vm {
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.head-vm h2 {
    font-size: 32px;
    /* margin-bottom: 5px; */
}

.head-vm p {
    font-size: 16px;
}

.card-vm {
    display: flex;
    justify-content: space-around;
}

.vm-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: var(--continer-color);
    width: 45%;
    height: 350px;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75);
}

.icon-vm-continer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vm-icon {
    font-size: 35px;
    color: #fff;
}

.vm-content {
    padding: 25px;
}

#visi-misi {
    width: 100%;
    height: 80vh;
    background-color: var(--continer-color);
    display: flex;
    justify-content: center;
}

.continer-vm {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-vm {
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.head-vm h2 {
    font-size: 32px;
    /* margin-bottom: 5px; */
}

.head-vm p {
    font-size: 16px;
}

.card-vm {
    display: flex;
    justify-content: space-around;
}

.vm-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: var(--continer-color);
    width: 45%;
    height: 350px;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75);
}

.icon-vm-continer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vm-icon {
    font-size: 35px;
    color: #fff;
}

.vm-content {
    padding: 25px;
}
/* VISI MISI */

/* RESPONSIVE CHAPTER CARD */
@media only screen and (max-width : 1200px) {
    .card-vm .vm-card {
        margin: 0 17px;
        width: 90%;
        height: 100%;
    }

    .card-vm .vm-card .icon-vm-continer {
        margin-top: 18px;
    }
}
/* RESPONSIVE CHAPTER CARD */

/* RESPONSIVE
* * CHAPTER WAVE
* * CHAPTER VISI MISI
* * CHAPTER ABOUT
*/
@media only screen and (max-width : 921px) {
    .waveWrapper {
        bottom: -20px;
    }

    .card-vm {
        flex-direction: column;
        align-items: center;
    }

    .card-vm .vm-card {
        padding: 7px;
        margin-top: 25px;
        width: 90%;
        height: 100%;
    }

    .card-vm .vm-card .icon-vm-continer {
        margin-top: 20px;
    }

    .about-desk {
        align-items: center;
    }

    .about-desk .image img {
        width: 100px;
        height: 100px;
    }

    .about-desk .image {
        display: none;
    }

    .content-about h1 {
        font-size: 2.3rem;
        text-align: center;
        padding: 0;
    }

    .about-desk {
        flex-direction: column;
    }


    .about-desk p {
        padding: 0;
        font-size: 1.2rem;
        text-align: justify;
        font-weight: 100;
        font-size: .9rem;
    }

}
/* RESPONSIVE
* * CHAPTER WAVE
* * CHAPTER VISI MISI
* * CHAPTER ABOUT
*/

/* RESPONSIVE
* * CHAPTER VISI MISI
* * CHAPTER NAVBAR
* * CHAPTER HERO SECTION
*/
@media only screen and (max-width : 859px) {
    .continer-vm {
        margin-top: 80px;
    }

    .navbar ul {
        display: none;
    }

    .humberger {
        display: block;
    }

    .navbar ul {
        display: inline-block;
        position: absolute;
        top: 50px;
        right: -600px;
        width: 40%;
        height: auto;
        padding: 20px 65px 20px 0;
        border-radius: 10px 0 0 10px;
        background-color: var(--continer_color);
        text-align: center;
        transition: .5s ease-in-out;
    }

    .navbar ul.active {
        top: 50px;
        right: 0;
    }

    .navbar ul li {
        padding: 10px;
    }

    .navbar ul li a {
        color: #000;
    }

    .content-hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-hero h3 {
        line-height: 0.9px;
        font-size: 1.5rem;
        text-align: center;
        color: var(--continer_color);
    }

    .content-hero h1 {
        font-size: 3.5rem;
        text-align: center;
        color: #fff;
    }

    .content-hero p {
        line-height: 0.9px;
        font-size: .8rem;
        text-align: center;
        color: #fff;
    }

    .content-about img {
        width: 200px;
        height: 200px;
    }
}
/* RESPONSIVE
* * CHAPTER VISI MISI
* * CHAPTER NAVBAR
* * CHAPTER HERO SECTION
*/

/* RESPONSIVE
* * CHAPTER VISI MISI
* * CHAPTER HERO SECTION
*/
@media only screen and (max-width: 460px) {
    .continer-vm {
        padding-top: 100px;
    }

    .content-hero h3 {
        line-height: 0.9px;
        font-size: 1rem;
        text-align: center;
        color: var(--continer_color);
    }

    .content-hero h1 {
        font-size: 2.8rem;
        text-align: center;
        color: #fff;
    }

    .content-hero p {
        line-height: 0.9px;
        font-size: .6rem;
        text-align: center;
        color: #fff;
    }
}
/* RESPONSIVE
* * CHAPTER VISI MISI
* * CHAPTER HERO SECTION
*/

/* RESPONSIVE
* * CHAPTER VISI MISI
* * CHAPTER ABOUT
*/
@media only screen and (max-width : 630px) {
    .continer-vm {
        padding-top: 100px;
    }

    .content-about img {
        display: none;
    }

    .about-desk h1 {
        font-size: 40px;
    }

    .about-desk p {
        font-size: 16px;
    }
}
/* RESPONSIVE
* * CHAPTER VISI MISI
* * CHAPTER ABOUT
*/

/* RESPONSIVE
* * CHAPTER VISI MISI
* * CHAPTER ABOUT
*/
@media only screen and (max-width : 424px) {
    .continer-vm {
        padding-top: 120px;
    }

    .vm-content p {
        padding: 10px;
    }

    .content-about h1 {
        font-size: 2.3rem;
        text-align: center;
        padding: 7px 0 0 0;
    }

    .about-desk p {
        padding: 10px 0 0 0;
        font-size: 1.2rem;
        text-align: justify;
        font-weight: 100;
        font-size: .9rem;
    }
}
/* RESPONSIVE
* * CHAPTER VISI MISI
* * CHAPTER ABOUT
*/

/* CHAPTER HERO */
@media only screen and (max-width : 370px) {
    .content-hero h1 {
        font-size: 30px;
    }

    .content-hero p {
        font-size: 8px;
    }
}
/* CHAPTER HERO */

/* CHAPTER VISI MISI */
@media only screen and (max-width : 340px) {
    #visi-misi {
        margin-top: 100px;
    }
}
/* CHAPTER VISI MISI */



/* RESPONSIVE
* * CHAPTER VISI MISI
* * CHAPTER NAVBAR
*/
@media only screen and (max-width : 281px) {
    .continer-vm {
        padding-top: 200px;
    }

    .brand img {
        display: none;
    }

    .brand h3 {
        font-size: 16px;
    }
}
/* RESPONSIVE
* * CHAPTER VISI MISI
* * CHAPTER NAVBAR
*/