:root {
    --continer_color: #fff;
    --primary-color: rgb(39, 44, 125);
}

*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

/* Nav Style */
#navbar {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
}

.navbar {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.brand img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.brand h3 {
    cursor: pointer;
    color: #fefefe;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--continer_color);
}

#list-home {
    background-color: var(--primary-color);
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}

.humberger {
    color: #FFf;
    font-size: 24px;
    display: none;
    cursor: pointer;
}

/* Nav Style */

.continer {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(assets/img/hacker.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.content-hero h1 {
    width: 500px;
    font-size: 45px;
    text-align: center;
    color: #fff;
}

.content-hero p {
    width: 500px;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

/* About Style */
#about {
    width: 100%;
    height: 60vh;
    background-color: var(--continer_color);
    display: flex;
    justify-content: center;
}

.continer-about {
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-about {
    display: flex;
}

.content-about img {
    width: 320px;
    height: 320px;
    padding: 20px;
    border-radius: 50%;
}

.about-desk {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-desk h1 {
    font-size: 48px;
}

.about-desk p {
    font-size: 18px;
    text-align: justify;
}

/* VISI MISI STYLE */
#visi-misi {
    width: 100%;
    height: 80vh;
    background-color: var(--continer-color);
    display: flex;
    justify-content: center;
    display: none;
}

.continer-vm {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-vm {
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.head-vm h2 {
    font-size: 32px;
    /* margin-bottom: 5px; */
}

.head-vm p {
    font-size: 16px;
}

.card-vm {
    display: flex;
    justify-content: space-around;
}

.vm-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: var(--continer-color);
    width: 45%;
    height: 350px;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75);
}

.icon-vm-continer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vm-icon {
    font-size: 35px;
    color: #fff;
}

.vm-content {
    padding: 25px;
}

/* VISI MISI STYLE */
.continer-vm {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-vm {
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.head-vm h2 {
    font-size: 32px;
    /* margin-bottom: 5px; */
}

.head-vm p {
    font-size: 16px;
}

.card-vm {
    display: flex;
    justify-content: space-around;
}

.vm-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: var(--continer-color);
    width: 45%;
    height: 350px;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75);
}

.icon-vm-continer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vm-icon {
    font-size: 35px;
    color: #fff;
}

.vm-content {
    padding: 25px;
}

#visi-misi {
    width: 100%;
    height: 80vh;
    background-color: var(--continer-color);
    display: flex;
    justify-content: center;
}

/* VISI MISI STYLE */
.continer-vm {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-vm {
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.head-vm h2 {
    font-size: 32px;
    /* margin-bottom: 5px; */
}

.head-vm p {
    font-size: 16px;
}

.card-vm {
    display: flex;
    justify-content: space-around;
}

.vm-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: var(--continer-color);
    width: 45%;
    height: 350px;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75);
}

.icon-vm-continer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vm-icon {
    font-size: 35px;
    color: #fff;
}

.vm-content {
    padding: 25px;
}

/* VISI MISI STYLE */

/*  Anggota Style */
#anggota {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.continer-agt {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-agt {
    text-align: center;
    margin-bottom: 50px;
}

.agt-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.card-agt {
    width: 30%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/assets/img/man.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.porfil-agt {
    width: 80px;
    height: 80px;
    background: url(/assets/img/man.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: none;
}

.agt-card-content {
    text-align: center;
    color: #fff;
    display: none;
}

.card-agt:hover {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/assets/img/man.jpg);
    background-size: cover;
    background-position: center;

}

.card-agt:hover .porfil-agt {
    display: inline-block;
}

.card-agt:hover .agt-card-content {
    display: inline-block;
}

/* responsive Design */
@media only screen and (max-width : 903px) {
    .waveWrapper {
        bottom: -20px;
    }

    .about-desk {
        width: 300px;
    }

    .about-desk h1 {
        font-size: 38px;
    }

    .about-desk p {
        font-size: 12px;
    }
}

@media only screen and (max-width : 859px) {
    .navbar ul {
        display: none;
    }

    .humberger {
        display: block;
    }

    .navbar ul {
        display: inline-block;
        position: absolute;
        top: 50px;
        right: -600px;
        width: 40%;
        height: auto;
        padding: 20px 65px 20px 0;
        border-radius: 10px 0 0 10px;
        background-color: var(--continer_color);
        text-align: center;
        transition: .5s ease-in-out;
    }

    .navbar ul.active {
        top: 50px;
        right: 0;
    }

    .navbar ul li {
        padding: 10px;
    }

    .navbar ul li a {
        color: #000;
    }

    .content-hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-hero h1 {
        font-size: 35px;
        width: 300px;
        text-align: center;
    }

    .content-hero p {
        width: 350px;
    }

    .content-about img {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 440px) {
    .content-hero h1 {
        font-size: 25px;
    }

    .content-hero p {
        font-size: 13px;
        width: 250px;
    }
}

@media only screen and (max-width : 630px) {
    .content-about img {
        display: none;
    }

    .about-desk {
        width: 350px;
    }

    .about-desk h1 {
        font-size: 40px;
    }

    .about-desk p {
        font-size: 16px;
    }
}

@media only screen and (max-width : 424px) {
    .about-desk {
        width: 250px;
    }

    .about-desk h1 {
        font-size: 35px;
    }

    .about-desk p {
        font-size: 14px;
    }
}

@media only screen and (max-width : 281px) {
    .brand img {
        display: none;
    }

    .brand h3 {
        font-size: 16px;
    }

}